<section class='categories'>
  
  <section class='category'>
    <%= link_to 'Books', books_path %>
  </section>

  <section class='category'>
    <%= link_to 'Courses', courses_path %>
  </section>

  <section class='category'>
    <%= link_to 'Writings', writings_path %>
  </section>
  
<section>

<%= render 'nav_home' %>