<h1>Thanks for coming!</h1>
<h2>I'm Alexander, a software engineer, and a passionate learner.</h2>
<h3>My focus is on full-stack web development with emphasis on back-end</h3>
<div>Technologies in use:</div>
<div>
  <ul>
    <li>Front-end: HTML (HAML), CSS (SASS), JavaScript</li>
    <li>Back-end: Ruby, Rails</li>
    <li>Data store layer: PostgreSQL</li>
    <li>Testing: RSpec, Capybara, Jasmine, Cucumber</li>
  </ul>
</div>
<div>
  <%= link_to 'GitHub account', '#' %>
</div>
<div>
  <%= link_to 'LinkedIn account', '#' %>
</div>
<div>
  <%= mail_to 'alex.khlipun@icloud.com', 'E-mail' %>
</div>
<div>
  <%= link_to 'Learning', learning_path %>
</div>