<% if signed_in? %>
  <%= link_to 'Add a book', new_book_path, class: 'button-add-an-item' %>
<% end %>
<% books.each do |book| %>
  <%= render 'details', book: book %>
<% end %>
<div class="nav-link-wrapper">
  <%= link_to 'Home', root_path, class: 'nav-link' %>
</div>