<% if signed_in? %>
  <div class='action'>
    <%= link_to 'Add a book', new_book_path %>
  </div>
<% end %>

<% books.each do |book| %>

  <section class='book'>
    <%= render 'book', book: book %>
    <%= render 'book_details', book: book %>    
  </section>
  
<% end %>

<%= render 'nav_home' %>