<% if signed_in? %>
  <%= link_to 'Add a course', new_course_path, class: 'button-add-an-item' %>
<% end %>
<% courses.each do |course| %>
  <%= render 'details', course: course %>
<% end %>
<div class="nav-link-wrapper">
  <%= link_to 'Home', root_path, class: 'nav-link' %>
</div>