@import "base/variables";

label {
  display: inline-block;
  font-size: $small-font-size;
  letter-spacing: 1px;
  margin-bottom: $base-spacing;
  text-transform: uppercase;  
}

[type='email'], [type='password'], [type='text'], [type='url'] {
  background-color: $lightest-gray;
  border: 1px solid $light-gray;
  border-radius: 2px;
  display: block;
  font-size: $small-font-size;
  line-height: 1.9;
  padding: $base-spacing $large-spacing;
  width: 50%;
  
  &:focus {
    background-color: $white;
    border: 1px solid lighten($blue, 10%);
    outline: none;
  }
}

textarea {
  display: block;
  border: 1px solid $light-gray;
  resize: none;
  color: $graphite;
  font-family: $sans-serif;
  font-size: $base-font-size;
  line-height: 1.7;
}