@import "base/variables";

p {
  margin: 0;
  padding: 0;
}

a {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgba($light-blue, 0.25);
  color: $blue;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.base-ul {
  
  li {
    margin-bottom: $base-spacing;
    padding-left: 2.375rem;
    position: relative;
    
    &.edge {
      padding-left: 1.125rem;
      
      &::before {
       background-color: $light-gray;
       background-image: none;
       left: 0;
      }
    }
    
    &::before {
      background-color: $light-blue;
      background-image: $base-gradient;
      border-radius: 50%;
      content: "";
      position: absolute;
      height: 5px;
      left: 1.25rem;
      margin-top: -2px;
      top: 0.75rem;
      width: 5px;
    }
  }
}

.nav-link {
  border: none;
  color: $graphite;
  font-size: $small-font-size;
  text-decoration: none;
}

.nav-link-wrapper {
  margin-top: $base-spacing;
}

.flash-notice {
  color: complement($deep-pink);
  font-size: $small-font-size;
  padding: $large-spacing 0;
}

.flash-alert {
  color: $deep-pink;
  font-size: $small-font-size;
  padding: $large-spacing 0;
}

.small {
  font-size: $small-font-size;
}